In [1]:
import pandas

In [2]:
data = pandas.read_csv('lsd_math_score_data.csv')
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [3]:
# add a new column
data['High_Score'] = 100
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  High_Score
0                      5     1.17                78.93         100
1                     15     2.97                58.20         100
2                     30     3.26                67.47         100
3                     60     4.69                37.47         100
4                    120     5.83                45.65         100
5                    240     6.00                32.92         100
6                    480     6.41                29.97         100

In [4]:
# append a column
data['High_Score'] = data['Avg_Math_Test_Score'] + 100
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  High_Score
0                      5     1.17                78.93      178.93
1                     15     2.97                58.20      158.20
2                     30     3.26                67.47      167.47
3                     60     4.69                37.47      137.47
4                    120     5.83                45.65      145.65
5                    240     6.00                32.92      132.92
6                    480     6.41                29.97      129.97

In [5]:
# operations on columns
data['High_Score_Squared'] = data['High_Score'] ** 2
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  High_Score  \
0                      5     1.17                78.93      178.93
1                     15     2.97                58.20      158.20
2                     30     3.26                67.47      167.47
3                     60     4.69                37.47      137.47
4                    120     5.83                45.65      145.65
5                    240     6.00                32.92      132.92
6                    480     6.41                29.97      129.97

   High_Score_Squared
0          32015.9449
1          25027.2400
2          28046.2009
3          18898.0009
4          21213.9225
5          17667.7264
6          16892.2009

In [6]:
# create a subset of the DataFrame using only few columns

print('\n\n################################################')
print('one column DataFrame using DataFrame(): ')
sub_dataframe_1 = pandas.DataFrame(data['Avg_Math_Test_Score'])
print(sub_dataframe_1)
print(type(sub_dataframe_1))

print('\n\n################################################')
print('one column Series by passing a string of the column name: ')
sub_series = data['Avg_Math_Test_Score']
print(sub_series)
print(type(sub_series))

print('\n\n################################################')
print('one column DataFrame by passing a list of the column name: ')
sub_dataframe_2 = data[['Avg_Math_Test_Score']]
print(sub_dataframe_2)
print(type(sub_dataframe_2))

print('\n\n################################################')
print('multiple column DataFrame by passing a list of column names: ')
sub_dataframe_3 = data[['LSD_ppm', 'Avg_Math_Test_Score']]
print(sub_dataframe_3)
print(type(sub_dataframe_3))

################################################
one column DataFrame using DataFrame():
   Avg_Math_Test_Score
0                78.93
1                58.20
2                67.47
3                37.47
4                45.65
5                32.92
6                29.97
<class 'pandas.core.frame.DataFrame'>


################################################
one column Series by passing a string of the column name:
0    78.93
1    58.20
2    67.47
3    37.47
4    45.65
5    32.92
6    29.97
Name: Avg_Math_Test_Score, dtype: float64
<class 'pandas.core.series.Series'>


################################################
one column DataFrame by passing a list of the column name:
   Avg_Math_Test_Score
0                78.93
1                58.20
2                67.47
3                37.47
4                45.65
5                32.92
6                29.97
<class 'pandas.core.frame.DataFrame'>


################################################
multiple column DataFrame by passing a list of column names:
   LSD_ppm  Avg_Math_Test_Score
0     1.17                78.93
1     2.97                58.20
2     3.26                67.47
3     4.69                37.47
4     5.83                45.65
5     6.00                32.92
6     6.41                29.97
<class 'pandas.core.frame.DataFrame'>

In [7]:
# delete a column from a DataFrame
del data['High_Score']
del data['High_Score_Squared']
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97